<div class="modal-header">
    <h4 class="modal-title">{{ 'Hydrant' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="CloseModal();">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xl-6 text-xs-left">
            <div class="form-group">
                <label for="description">{{ 'Description' | translate }}</label>
                <input class="form-control" id="description" type="text" [(ngModel)]="Hydrant.description">
            </div>
            <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" #dateModel="ngModel"
                               name="datePicker" [(ngModel)]="revisionDateModel" ngbDatepicker #datePicker="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="datePicker.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-xl-6 text-xs-left">
            <div class="form-group">
                <label for="responsible">{{ 'Responsible' | translate }}</label>
                <input class="form-control" id="responsible" type="text" [(ngModel)]="Hydrant.responsible">
            </div>
            <div class="form-group">
                <label for="water">{{ 'Water Type' | translate }}</label>
                <input class="form-control" id="water" type="text" [(ngModel)]="Hydrant.waterType">
            </div>
            <div class="row">
                <div class="col-xl-6 text-xs-left">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input id="active" type="checkbox" checked [(ngModel)]="Hydrant.active" > {{'Active' | translate }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 text-xs-right">
                    <div class="form-group">
                        <button type="button" #putMarkerButton class="btn btn-sm btn-secondary" (click)="PutViewMarker();">
                            {{'Add marker' | translate}}</button>
                    </div>
                </div>
            </div>
    </div>
    <div class="row" style="height: 250px; width: 100%;">
        <div class="col-xl-12 text-xs-center">
            <app-map #map style="height: 100%; width: 100%;" ></app-map>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="CloseModal();">{{ 'Cancel' | translate }}</button>
    <button type="button" class="btn btn-success" (click)="SaveButtonClick();">{{ 'Save' | translate }}</button>
    <button *ngIf="EditMode" type="button" class="btn btn-danger" (click)="DeleteButtonClick();">{{ 'Remove' | translate }}</button>
</div>

