<nav class="navbar navbar-expand-lg fixed-top">

    <a class="navbar-brand" href="#">
        <i class="fa fa-fire" style="color: red;" aria-hidden="true"></i>
        <style>
            .logo-text {
                color: hsl(20,20%,100%);
                text-shadow:
                -1px -1px 0 hsl(0, 0%, 86%),
                -2px -2px 2px hsl(80, 10%, 15%);
            }
        </style>
        <b class="logo-text">F24</b>
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' | translate }}" >
        </form> ---->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-none d-xl-block">
            </li> &nbsp;
            <!--
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'Pending Task' | translate }} <span class="badge badge-info">6</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'In queue' | translate }} <span class="badge badge-info"> 13</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'Mail' | translate }} <span class="badge badge-info"> 45</span>
                    </a>
                    <li class="dropdown-divider"></li>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'View All' | translate }}
                    </a>
                </div>
            </li> --->
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-language"></i> {{ 'Language' | translate }} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">
                        {{ 'English' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('ru')">
                        {{ 'Russian' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('kz')">
                        {{ 'Kazakh' | translate }}
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> {{operator.name}} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item">
                        <i class="fa fa-fw fa-user"></i> {{operator.login}}
                    </a>
                    <a class="dropdown-item">
                        <i class="fa fa-fw fa-star"></i> {{operator.role}}
                    </a>
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link mt-1"
                   style="padding: 0.375rem 1rem !important; border-color: #999;"
                   (click)="rltAndLtr()"
                >
                    <i class="fa fa-arrows-h" aria-hidden="true"></i>
                </a>
            </li> &nbsp;
        </ul>
    </div>
</nav>
