<div [@routerTransition]>
    <app-page-header [heading]="'Departments'" [icon]="'fa-university'">
        <button type="button" class="btn btn-link" (click)="RefreshList();">
            <i *ngIf="!loading" style="color: grey;" class="fa fa-refresh fa-2x"></i>
            <i *ngIf="loading" style="color: grey;" class="fa fa-spin fa-refresh fa-2x"></i>
        </button>
        <button type="button" class="btn btn-primary" (click)="AddButtonClick();">{{ 'Add' | translate }}</button>
    </app-page-header>
    <div class="card-body table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Name' | translate }}</th>
                <th>{{ 'Address' | translate }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dep of departmentList">
                <td>{{dep.name}}</td>
                <td>{{dep.address}}</td>
                <td>
                    <button type="button" class="btn btn-info" (click)="EditButtonClick(dep);">{{ 'Edit' | translate }}</button>
                    <button *ngIf="dep.active" type="button" class="btn btn-danger" (click)="DeactivateButtonClick(dep.id);">{{ 'Deactivate' | translate }}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


