<div [@routerTransition]>
    <app-page-header [heading]="'Departments'" [icon]="'fa-user'">
        <button type="button" class="btn btn-link"><i style="color: black;" class="fa fa-refresh fa-3x"></i></button>
        <button type="button" class="btn btn-primary">{{ 'Add' | translate }}</button>
    </app-page-header>
    <div class="card-body table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Name' | translate }}</th>
                <th>{{ 'Login' | translate }}</th>
                <th>{{ 'Role' | translate }}</th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let operator of operatorsList">
                <td>{{operator.name}}</td>
                <td>{{operator.login}}</td>
                <td>{{operator.role}}</td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


