<div>
    <app-page-header [heading]="'Fires'  | translate" [icon]="'fa-mail-forward'">
        <button type="button" class="btn btn-link" (click)="RefreshList();">
            <i *ngIf="!_loading" style="color: grey;" class="fa fa-refresh fa-2x"></i>
            <i *ngIf="_loading" style="color: grey;" class="fa fa-spin fa-refresh fa-2x"></i>
        </button>
        <button type="button" class="btn btn-link" (click)="ShowAllFires();">{{ 'Show all' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="AddButtonClick();">{{ 'Add' | translate }}</button>

    </app-page-header>
    <div class="card-body table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Address' | translate }}</th>
                <th>{{ 'Time' | translate }}</th>
                <th>{{ 'Rank' | translate }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fire of _fires">
                <td>{{ fire.address}}</td>
                <td>{{ fire.startDateTime | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm' }}</td>
                <td>{{ fire.rank}}</td>
                <td>
                    <button type="button" class="btn btn-info" (click)="ManageButtonClick(fire);">{{ 'Manage' | translate }}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


